html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* stylesheet start */

/* font-sizes changed from design sheet to better match design image */

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
}

/* header start */

header {
    background-image: url(assets/image-1@2x.png);
    background-size: cover;
    background-position: center;
    height: 90vh;
    color: #ffffff;
}

header nav {
    padding: 20px 0;
}

.logo h3 {
    font: italic 700 21px 'Kanit', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    float: left;
}

header nav ul {
    float: right;
}

header nav ul li {
    padding-top: 4px;
    display: inline-block;
}

header nav ul li a {
    font: 600 16px 'Catamaran', sans-serif;
    line-height: 29px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 30px;
}

.hamburger {
    display: none;
}

header h1 {
    font: italic 700 100px 'Kanit', sans-serif;
    line-height: 86px;
    letter-spacing: 1px;
    color: #CC1D36;
    text-transform: uppercase;
    width: 300px;
    position: relative;
    top: 30vh;
}

header h2 {
    font: 26px 'Lato', sans-serif;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: lowercase;
    position: relative;
    top: 22vh;
}

.socials {
    float: right;
    margin: 40px;
    position: relative;
    top: 8vh;
}

.socials li {
    list-style-type: none;
    margin: 10px 0;
}

.socials a {
    color: #ffffff;
    font-size: 24px;
}

/* header end */

/* main start */

main h2 {
    font: italic 700 36px 'Kanit', sans-serif;
    line-height: 37px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

main p {
    font: 300 18px 'Roboto', sans-serif;
    line-height: 27px;
    color: #808080;
    margin-top: 10px;
}

.news h2 {
    margin: 90px auto;
    text-align: center;
}

.news-image img {
    width: calc(33% - 24px);
    float: left;
}

.news-image img:nth-child(2) {
    margin: 0 36px;
}

.highlight {
    margin: 90px auto;
}

.highlight-image {
    width: 25%;
    float: left;
    margin-top: 8px;
    margin-right: 36px;
}

.highlight-text {
    width: calc(75% - 36px);
    float: left;
}

.highlight p {
    margin-bottom: 48px;
}

.highlight a,
.grid a {
    background: #BA0621;
    font: italic 700 18px 'Kanit', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    padding: 8px 16px;
}

.grid {
    margin: 0 auto;
}

.grid-image1,
.grid-image2 {
    width: 50%;
}

.grid h2 {
    width: 80%;
}

.grid-text1,
.grid-text2 {
    margin-top: 140px;
    margin-bottom: 22px;
    width: calc(40% - 90px);
}

.grid-text1,
.grid-image2 {
    float: left;
}

.grid-image1,
.grid-text2 {
    float: right;
}

.grid-text1 {
    margin-left: 10%;
    margin-right: 90px;
}

.grid-text2 {
    margin-right: 10%;
    margin-left: 90px;
}

.grid p {
    margin-bottom: 22px;
}

.oscar {
    background-image: url(assets/oscar-aguilar-327500-unsplash@2x.png);
    background-size: cover;
    background-position: center;
}

.oscar div {
    width: calc(72%/3);
    float: left;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 90px;
}

.oscar-shop {
    margin-left: 14%;
}

.oscar-community {
    display: none;
}

.oscar-events {
    margin-right: 14%;
}

.oscar i {
    font-size: 50px;
    color: #CC1D36;
    margin-bottom: 20px;
}

.oscar a {
    font: italic 700 26px 'Kanit', sans-serif;
    letter-spacing: 1px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.contact {
    background-color: #6C0918;
}

.contact-email {
    width: 40%;
    margin: 90px auto 90px 10%;
    float: left;
}

.contact-info {
    width: 20%;
    margin: 90px 6%;
    float: left;
}

.contact-links {
    width: 8%;
    margin: 90px 10% 90px auto;
    float: right;
}

.contact h3 {
    font: italic 700 22px 'Kanit', sans-serif;
    line-height: 22px;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
}

.contact p {
    color: #ffffff;
    margin: 10px auto;
}

.email-address input {
    width: 70%;
    font: 300 18px 'Roboto', sans-serif;
    padding: 11px 30px;
    border: none;
}

.contact-email button {
    background-color: #000000;
    font: italic 700 18px 'Kanit', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 8px 22px;
    border: none;
}

.contact-info h3 {
    margin-bottom: 16px;
}

.contact-links li {
    list-style: none;
    text-align: right;
}

.contact-links li a {
    font: italic 700 18px 'Kanit', sans-serif;
    line-height: 26px;
    letter-spacing: 1px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
}

/* main end */

/* footer start */

footer {
    background-color: #0B0101;
}

footer p {
    font: 400 16px 'Roboto', sans-serif;
    line-height: 29px;
    color: #ffffff;
    padding: 4px;
    text-align: center;
}

/* footer end */

/* responsive design start */

@media (max-width: 650px) {

    .wrapper {
        width: 100%;
    }

    header {
        background-position: 36%;
        height: 620px;
    }

    .logo {
        display: none;
    }

    header nav ul {
        display: none;
    }

    header h1 {
        font: italic 700 66px 'Kanit', sans-serif;
        line-height: 56px;
        width: 200px;
        top: 240px;
        margin-left: 10%;
    }

    header h2 {
        font: 16px 'Lato', sans-serif;
        top: 200px;
        margin-left: 10%;
    }

    .socials {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hamburger a {
        text-decoration: none;
        color: #ffffff;
        font-size: 30px;
        float: right;
        margin-right: 5%;
    }

    main h2 {
        font-size: 28px;
        line-height: 28px;
    }

    .news h2 {
        margin: 40px auto;
    }

    .news-image img:last-child {
        display: none;
    }

    .news-image img {
        width: calc(50% - 30px);
    }

    .news-image img:nth-child(2) {
        margin: 0 20px;
    }

    .news-image img:first-child {
        margin-left: 20px;
    }

    .highlight {
        margin: 80px auto;
    }

    .highlight-image {
        width: calc(100% - 40px);
        float: none;
        margin: 0 20px 30px 20px;
    }

    .highlight-image img {
        height: 300px;
        object-fit: cover;
    }

    .highlight-text {
        width: calc(100% - 40px);
        float: none;
        margin: 0 20px;
    }

    .highlight p {
        margin-top: 30px;
        line-height: 30px;
    }

    .highlight a {
        padding: 20px 40px;
    }

    .grid-image1,
    .grid-image2 {
        width: 100%;
        margin: 0 0 40px 0;
        float: none;
    }

    .grid-text1,
    .grid-text2 {
        width: calc(100% - 40px);
        margin: 0 20px;
        float: none;
        text-align: center;
    }

    .grid h2 {
        width: calc(100% - 120px);
        margin: 0 60px;
    }

    .grid img {
        height: 230px;
        object-fit: cover; 
    }

    .grid p {
        text-align: center;
        margin: 10px 20px 40px 20px;
        line-height: 30px;
    }

    .grid-text1,
    .grid-text2 {
        margin-bottom: 60px;
    }

    .grid-text1 a,
    .grid-text2 a {
        padding: 12px 24px;
    }

    .oscar {
        height: 500px;
        width: 100%;
        object-fit: cover;
    }

    .oscar div {
        margin-top: 30px;
        margin-bottom: 30px;
        float: none;
        width: 100%;
    }

    .oscar-shop {
        margin-left: 0;
    }

    .oscar-jobs {
        display: none;
    }

    .oscar-community {
        display: block;
    }

    .oscar-events {
        margin-right: 0;
    }

    .oscar-shop i {
        margin-top: 60px;
    }

    .contact-email {
        width: calc(100% - 40px);
        margin: 0 20px;
        padding-top: 50px;
        float: none;
    }

    .contact-email h3,
    .contact-email p,
    .contact-email input,
    .contact-email button {
        width: 100%;
        text-align: center;
    }

    .contact h3 {
        font-size: 26px;
        margin-bottom: 16px;
    }

    .contact-email p {
        line-height: 30px;
    }

    .contact-email input {
        padding: 16px;
    }

    .contact-email button {
        font-size: 20px;
        margin: 10px 0;
        padding: 12px;
    }

    .contact-info {
        width: calc(60% - 20px);
        margin: 30px 0 20px 20px;
    }

    .contact-info h3 {
        margin-bottom: 30px;
    }

    .contact-info p {
        line-height: 22px;
    }

    .contact-links {
        width: calc(40% - 20px);
        margin: 30px 20px 20px 0;
    }

    .contact-links li:nth-child(2),
    .contact-links li:nth-child(3) {
        padding: 2px 0;
    }

    .contact-links li a {
        font-size: 20px;
    }

    footer p {
        padding: 10px;
    }
}

/* responsive design end */

/* stylesheet end */